<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(i) { %>
        <tr>
          <td>
            <img src="<%= i.itemImg %>" alt="item" class="item-img"><br>
            <%= i.game %> <br>
            <a href="/items/<%= i._id %>"><%= i.item %></a>
            <% if (user?._id.equals(i.user)) { %>
                <form action="/items/<%= i._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
            <% } %>
        </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>