<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(i) { %>
        <tr>
          <td>
            <h2 class="user-name">
                <img alt="avatar" src="<%= i.userAvatar %>" referrerpolicy="no-referrer" class="item-user"> &nbsp;<%= i.userName %>
            </h2>
            <div id="items">
                <h3 id="item-name">
                    <a href="/items/<%= i._id %>"><%= i.item %></a>
                </h3>
                <img src="<%= i.itemImg %>" alt="item" class="item-img"> <br><br>
                <div class="item-div" id="item-post">
                    Game: &nbsp; <%= i.game %> <br>
                </div> <br>
                <div class="item-div" id="item-post">
                    Up For Trade: &nbsp; <%= i.upForTrade ? 'Yes' : 'No' %>
                </div> <br>
                    <% if (user?._id.equals(i.user)) { %>
                        <form action="/items/<%= i._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="delete">Delete</button>
                        </form>
                    <% } %>
                </div>
            </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>