<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <th>Item Image</th>
        <th>Game</th>
        <th>Item Name</th>
      </tr>
    </thead>
    <tbody>
      <% items.forEach(function(i) { %>
        <tr>
          <td><img src="<%= i.itemImg %>" alt="item" class="item-img"></td>
          <td><%= i.game %></td>
          <td><a href="/items/<%= i._id %>"><%= i.item %></a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>